/* main_img_detail
===============================================================*/
.main_img_detail .bg_breakfast01 {
  background: url(../images/breakfast/main01.jpg) no-repeat left bottom;
  background-size: cover;
}

.breakfast_info {
  background-color: #faf6e9;
  padding: 20px 13px;
  color: #a20000;
}

.breakfast_info .flex-box {
  margin-top: 20px;
}

.breakfast_info figure {
  margin: 15px 0;
}

.breakfast_info figure img {
  width: 100%;
}

/* gallery
===============================================================*/
.gallery {
  margin: 0 0 75px 0;
}

.gallery ul li {
  width: 33.3%;
  float: left;
}

.gallery ul li a {
  display: block;
  position: relative;
}

.gallery ul li img {
  width: 100%;
}

.gallery ul li img.ic {
  width: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.breakfast-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .bef_01 {
  font-size: 23px;
  line-height: 30px;
  letter-spacing: .08em;
  color: #333333;
  text-align: center;
}

.breakfast-content .sect-1.g_box01 {
  padding: 27px 0 55px 12.5px;
}

.breakfast-content .sect-1 .store-info {
  margin: 10px 0 24px;
}

.breakfast-content .sect-1 .store-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breakfast-content .sect-1 .store-info .row:not(:last-child) {
  margin: 0 0 6px;
}

.breakfast-content .sect-1 .store-info .row .col-left {
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .sect-1 .store-info .row .col-left p {
  font-size: 18px;
  font-weight: 700;
  color: #786e51;
}

.breakfast-content .sect-1 .store-info .row .col-right {
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0 0 15px;
}

.breakfast-content .sect-1 .store-info .row .col-right p {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 27px;
}

.breakfast-content .sect-1 .prevention {
  background-color: #fff;
  border: 1px solid #eceae5;
}

.breakfast-content .sect-1 .prevention h3 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  height: 43.5px;
  background-color: #eceae5;
  letter-spacing: .03em;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breakfast-content .sect-1 .prevention h3 .btnPreventionClose {
  display: block;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.breakfast-content .sect-1 .prevention h3 .btnPreventionClose.open::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 1;
}

.breakfast-content .sect-1 .prevention h3 .btnPreventionClose.open::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1;
}

.breakfast-content .sect-1 .prevention h3 .btnPreventionClose::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.breakfast-content .sect-1 .prevention h3 .btnPreventionClose::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.breakfast-content .sect-1 .prevention .content {
  padding: 21px 25px 18px;
}

.breakfast-content .sect-1 .prevention .content p {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .06em;
  color: #333333;
  text-align: left;
}

.breakfast-content .sect-1 .prevention .content p.txtIndent {
  text-indent: -17px;
  margin: 0 0 0 17px;
}

.breakfast-content .sect-2 {
  padding: 0 0 0 12.5px;
}

.breakfast-content .sect-2 .chef-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item {
  display: inline-block;
  width: 90%;
  border: 10px solid #f6f4f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  margin: 0 0 20px;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .06em;
  text-align: center;
  margin: 0 0 18px;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item h3 span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .06em;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item .img-wrap {
  max-width: 153px;
  margin: 0 auto 20px;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item .img-wrap img {
  width: 100%;
}

.breakfast-content .sect-2 .chef-wrapper .chef-item p {
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 24px;
  letter-spacing: .03em;
  text-align: justify;
  border-top: 1px solid #bf8786;
  padding: 14px 0 0;
}

.breakfast-content .sect-3 {
  padding: 25px 0 0 12.5px;
}

.breakfast-content .sect-3 .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item {
  width: 45%;
  margin-top: 10px;
  margin-bottom: 15px;
  display: none;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item.open {
  display: block;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item:nth-child(2n+2) {
  margin-left: 10%;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item:nth-child(-n+4) {
  display: block;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item .menu-img img {
  width: 100%;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item .menu-content {
  padding: 6px 0 0;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item .menu-content span {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .08em;
  line-height: 20px;
  color: #a3956d;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item .menu-content h3 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: .08em;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

.breakfast-content .sect-3 .menu-wrapper .menu-item .menu-content p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .03em;
  line-height: 24px;
  color: #333333;
  margin: 4px 0 0;
}

.breakfast-content .sect-3 a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 43px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .15em;
  color: #786e51;
  background-color: #f7f6f4;
  margin-top: 4px;
}

.breakfast-content .sect-3 a span {
  background-color: #fff;
  display: block;
  width: 21.5px;
  height: 21.5px;
  position: absolute;
  top: 10px;
  right: 25px;
  border-radius: 50px;
}

.breakfast-content .sect-3 a span::before {
  content: "";
  display: block;
  width: 11px;
  height: 2px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breakfast-content .sect-3 a span::after {
  content: "";
  display: block;
  width: 2px;
  height: 11px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breakfast-content .sect-4 {
  padding: 40px 0 0 12.5px;
}

.breakfast-content .sect-4 .def {
  line-height: 37px;
}

.breakfast-content .sect-4 .def span {
  display: block;
  font-size: 15px;
}

.breakfast-content .sect-4 .top-cook {
  max-width: 933px;
  margin: 0 auto 27px;
}

.breakfast-content .sect-4 .top-cook .img-wrap {
  margin: 0 0 12px;
}

.breakfast-content .sect-4 .top-cook .img-wrap img {
  width: 100%;
}

.breakfast-content .sect-4 .top-cook h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .03em;
  color: #333333;
  text-align: left;
}

.breakfast-content .sect-4 .cook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breakfast-content .sect-4 .cook .cook-item {
  width: 45%;
  text-align: center;
}

.breakfast-content .sect-4 .cook .cook-item .img-wrap {
  margin: 0 0 11px;
}

.breakfast-content .sect-4 .cook .cook-item .img-wrap img {
  width: 100%;
}

.breakfast-content .sect-4 .cook .cook-item .date {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .15em;
  color: #333333;
  text-align: center;
}

.breakfast-content .sect-4 .cook .cook-item span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .08em;
  color: #a3956d;
}

.breakfast-content .sect-4 .cook .cook-item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .03em;
  color: #333333;
  text-align: center;
}

.breakfast-content .sect-4 .cook .cook-item .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .03em;
  text-align: left;
  margin: 11px 0 0;
}

.breakfast-content .sect-5 .wrapper {
  padding: 43px 20px 0 12.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .sect-5 .wrapper.open .food .food-item:nth-child(2) {
  display: block;
}

.breakfast-content .sect-5 .wrapper.open .food .food-item:nth-child(3) {
  display: block;
}

.breakfast-content .sect-5 .wrapper.open .food .food-item .food-list ul:nth-child(2) {
  display: block;
}

.breakfast-content .sect-5 .wrapper.open .desc {
  display: block;
}

.breakfast-content .sect-5 .wrapper .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .sect-5 .wrapper .food .food-item {
  padding: 0 0 0 35px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .sect-5 .wrapper .food .food-item::before {
  content: "";
  width: 20px;
  height: 100%;
  background-image: url(/images/breakfast/food.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breakfast-content .sect-5 .wrapper .food .food-item:not(:last-child) {
  margin-bottom: 30px;
}

.breakfast-content .sect-5 .wrapper .food .food-item:nth-child(1) {
  width: 100%;
}

.breakfast-content .sect-5 .wrapper .food .food-item:nth-child(2) {
  width: 100%;
  display: none;
}

.breakfast-content .sect-5 .wrapper .food .food-item:nth-child(2)::before {
  background-image: url(/images/breakfast/special.png);
}

.breakfast-content .sect-5 .wrapper .food .food-item:nth-child(3) {
  width: 100%;
  display: none;
}

.breakfast-content .sect-5 .wrapper .food .food-item:nth-child(3)::before {
  background-image: url(/images/breakfast/drink.png);
}

.breakfast-content .sect-5 .wrapper .food .food-item h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .03em;
  color: #333333;
  border-bottom: 1px solid #d7d7d7;
  margin: 0 0 11px;
  padding: 0 0 7px;
}

.breakfast-content .sect-5 .wrapper .food .food-item .food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breakfast-content .sect-5 .wrapper .food .food-item .food-list ul {
  width: 100%;
}

.breakfast-content .sect-5 .wrapper .food .food-item .food-list ul:nth-child(2) {
  display: none;
}

.breakfast-content .sect-5 .wrapper .food .food-item ul li p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 24px;
}

.breakfast-content .sect-5 .wrapper .food .food-item ul li p span {
  color: #eb6100;
}

.breakfast-content .sect-5 .wrapper .desc {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 24px;
  margin: 30px 0;
  display: none;
}

.breakfast-content .sect-5 .wrapper .desc span {
  color: #eb6100;
}

.breakfast-content .sect-5 .wrapper #btnmenuMore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 43px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .15em;
  color: #786e51;
  background-color: #f7f6f4;
  margin-top: 4px;
}

.breakfast-content .sect-5 .wrapper #btnmenuMore span {
  background-color: #fff;
  display: block;
  width: 21.5px;
  height: 21.5px;
  position: absolute;
  top: 10px;
  right: 25px;
  border-radius: 50px;
}

.breakfast-content .sect-5 .wrapper #btnmenuMore span::before {
  content: "";
  display: block;
  width: 11px;
  height: 2px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breakfast-content .sect-5 .wrapper #btnmenuMore span::after {
  content: "";
  display: block;
  width: 2px;
  height: 11px;
  background-color: #786e51;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breakfast-content .sect-5 .wrapper a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 87.5px;
  margin: 50px auto 0;
  background-color: #c0743b;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .03em;
  text-align: center;
}

.breakfast-content .sect-5 .wrapper a img {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.breakfast-content .sect-6 {
  padding: 50px 0 50px 0;
}

.breakfast-content .sect-6 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breakfast-content .sect-6 .row .col {
  width: 100%;
  position: relative;
  padding: 18px 25px 15px 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/common/bgline.jpg) repeat 0 0;
}

.breakfast-content .sect-6 .row .col:not(:last-child) {
  margin: 0 0 17.5px;
}

.breakfast-content .sect-6 .row .col img {
  width: 51px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.breakfast-content .sect-6 .row .col h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 20px;
  color: #333333;
  text-align: left;
}

.breakfast-content .sect-6 .row .col p {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 22px;
  color: #333333;
  text-align: left;
}
/*# sourceMappingURL=breakfast-sp.css.map */