
/* main_img_detail
===============================================================*/
.main_img_detail .bg {
	background:url(../images/breakfast/main01.jpg) no-repeat center 50%;
	background-size:cover;
}

.breakfast_info{
    background-color: #faf6e9;
	padding: 24px 80px;
	color: #a20000;
}
.breakfast_info .flex-box {
	display: flex;
	margin: 25px 0 15px;
	justify-content: center;
}
.breakfast_info .flex-box figure {
	margin: 0 15px;
	max-width: 350px;
	width: calc(50% - 30px);
}
.breakfast_info .flex-box figure img { width: 100%;}



/* gallery
===============================================================*/
.gallery {
	margin:0 0 75px 0;
	padding:40px 98px;
	background:url(../images/rooms/top/bg02.jpg) repeat-y right top;
}

.gallery ul li {
	width:20%;
	float:left;
}


.gallery ul li a {
	display:block;
	position:relative;
	overflow:hidden;
}


.gallery ul li img {
	width:100%;
	transition: all 300ms 0s ease;
}

.gallery ul li a:hover img {
	transform: scale(1.1);
}

.gallery ul li img.ic {
	width:23px;
	position:absolute;
	bottom:0;
	right:0;
}

.breakfast-content {
	box-sizing: border-box;

	.bef_01{
		font-size: 32px;
		line-height: 45px;
		letter-spacing: .08em;
		color: #333333;
	}

	.sect-1{
		&.g_box01{
			padding: 45px 0 55px 90px;
		}

		.store-info{
			max-width: 446px;
			margin: 10px auto 45px;
			padding: 7px 0 5px;
			background-color: #fff;
			.row{
				display: flex;
				flex-wrap: wrap;
				&:not(:last-child){
					margin: 0 0 4px;
				}
				.col-left{
					width: 40%;
					padding: 0 0 0 80px;
					text-align: left;
					box-sizing: border-box;
					p{
						font-size: 18px;
						font-weight: 700;
						color: #786e51;
					}
				}
				.col-right{
					width: 60%;
					text-align: left;
					box-sizing: border-box;
					p{
						font-size: 16px;
						font-weight: 500;
						color: #333333;
					}
				}
			}
		}

		.prevention{
			max-width: 644px;
			margin: 0 auto;
			background-color: #fff;
			border: 1px solid #eceae5;
			@media only screen and (max-width: 900px) {
				max-width: 90%;
			}
			h3{
				position: relative;
				font-weight: 500;
				height: 51px;
				background-color: #eceae5;
				letter-spacing: .03em;
				color: #323232;
				display: flex;
				align-items: center;
				justify-content: center;
				.btnPreventionClose{
					display: block;
					width: 22px;
					height: 22px;
					background-color: #fff;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translate(0, -50%);
					cursor: pointer;
					&.open{
						&::before{
							transform: translate(-50%, -50%) rotate(90deg);
							opacity: 0;
						}
						&::after{
							transform: translate(-50%, -50%) rotate(180deg);
							opacity: 1;
						}
					}
					&::before{
						content: "";
						display: block;
						width: 10px;
						height: 2px;
						background-color: #786e51;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						opacity: 1;
						transition: .3s ease;
					}
					&::after{
						content: "";
						display: block;
						width: 10px;
						height: 2px;
						background-color: #786e51;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(90deg);
						opacity: 1;
						transition: .3s ease;
					}
				}
			}
			.content{
				padding: 26px 40px 23px;
				display: none;
				p{
					font-weight: 500;
					line-height: 24px;
					letter-spacing: .06em;
					color: #333333;
					text-align: left;
					&.txtIndent{
						text-indent: -17px;
						margin: 0 0 0 17px;
					}
				}
			}
		}
	}
	
	.sect-2{
		padding: 0 0 0 90px;
		.chef-wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			.chef-item{
				display: inline-block;
				width: 445px;
				border: 15px solid #f6f4f0;
				box-sizing: border-box;
				padding: 30px 35px;
				margin: 0 22.5px 20px;
				h3{
					font-size: 25px;
					line-height: 31px;
					letter-spacing: .06em;
					text-align: center;
					margin: 0 0 22px;
					span{
						display: block;
						font-weight: 400;
						font-size: 20px;
						letter-spacing: .06em;
					}
				}
				.img-wrap{
					width: 240px;
					margin: 0 auto 30px;
					img{
						width: 100%;
					}
				}
				p{
					font-weight: 400;
					letter-spacing: .03em;
					line-height: 24px;
					letter-spacing: .03em;
					text-align: justify;
					border-top: 1px solid #bf8786;
					padding: 16px 0 0;
				}
			}
		}
	}
	.sect-3{
		padding: 70px 0 0 90px;
		.menu-wrapper{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			.menu-item{
				width: 32%;
				margin-bottom: 30px;
				&:not(:nth-child(3n+1)){
					margin-left: 2%;
				}
				.menu-img{
					img{
						width: 100%;
					}
				}
				.menu-content{
					padding: 22px 0 0;
					span{
						display: block;
						text-align: center;
						font-weight: 400;
						font-size: 18px;
						letter-spacing: .08em;
						line-height: 20px;
						color: #a3956d;
					}
					h3{
						font-weight: 600;
						font-size: 21px;
						letter-spacing: .08em;
						line-height: 29px;
						color: #333333;
						text-align: center;
					}
					p{
						font-size: 16px;
						font-weight: 500;
						letter-spacing: .03em;
						line-height: 24px;
						color: #333333;
						margin: 27px 0 0;
					}
				}
			}
		}
	}
	.sect-4{
		padding: 80px 0 0 90px;
		.def{
			line-height: 37px;
			span{
				display: block;
				font-size: 24px;
			}
		}
		.top-cook{
			max-width: 933px;
			margin: 0 auto 23px;
			.img-wrap{
				margin: 0 0 15px;
				img{
					width: 100%;
				}
			}
			h3{
				font-weight: 600;
				font-size: 21px;
				line-height: 30px;
				letter-spacing: .03em;
				color: #333333;
				text-align: center;
			}
		}
		.cook{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.cook-item{
				width: 49%;
				text-align: center;
				.img-wrap{
					margin: 0 0 15px;
					img{
						width: 100%;
					}
				}
				.date{
					font-weight: 600;
					font-size: 16px;
					letter-spacing: .15em;
					color: #333333;
					text-align: center;
				}
				span{
					display: block;
					font-weight: 400;
					font-size: 18px; 
					letter-spacing: .08em;
					color: #a3956d;
				}
				h3{
					font-weight: 600;
					font-size: 21px;
					line-height: 30px;
					letter-spacing: .03em;
					color: #333333;
					text-align: center;
				}
				.desc{
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;
					letter-spacing: .03em;
					text-align: left;
					margin: 20px 0 0;
				}
			}
		}
	}
	.sect-5{
		padding: 93px 0 0;
		.wrapper{
			background-color: #f9f9f9;
			padding: 60px 20px 50px 60px;
			box-sizing: border-box;
			.food{
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				.food-item{
					padding: 0 0 0 60px;
					position: relative;
					box-sizing: border-box;
					&::before{
						content: "";
						width: 31px;
						height: 100%;
						background-image: url(/images/breakfast/food.png);
						background-repeat: no-repeat;
						position: absolute;
						top: 0;
						left: 0;
						box-sizing: border-box;
					}
					&:nth-child(1){
						width: 70%;
					}
					&:nth-child(2){
						width: 30%;
						&::before{
							background-image: url(/images/breakfast/special.png);
						}
					}
					&:nth-child(3){
						width: 30%;
						margin: -125px 0 0 auto;
						&::before{
							background-image: url(/images/breakfast/drink.png);
						}
					}
					h3{
						font-weight: 500;
						font-size: 22px;
						letter-spacing: .03em;
						color: #333333;
						border-bottom: 1px solid #d7d7d7;
						max-width: 292px;
						margin: 0 0 7px;
					}
					.food-list{
						display: flex;
						flex-wrap: wrap;
						ul{
							width: 50%;
							&:nth-child(2){
								margin-top: -35px;
							}
							@media only screen and (max-width: 1100px) {
								&:nth-child(2){
									margin-top: 0;
								}
							}
						}
					}
					ul{
						li{
							p{
								font-weight: 400;
								font-size: 16px;
								letter-spacing: .03em;
								line-height: 30px;
								span{
									color: #eb6100;
								}
							}
						}
					}
				}
			}
			.desc{
				font-weight: 400;
				font-size: 16px;
				letter-spacing: .03em;
				line-height: 30px;
				padding: 0 0 0 30px;
				span{
					color: #eb6100;
				}
			}
			.convbtn{
				margin: 45px 0 0;
				a{
					width: 390px;
					padding: 16px 0;
				}
			}
		}
	}
	.sect-6{
		padding: 100px 0 100px 90px;
		.row{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.col{
				width: 49%;
				position: relative;
				padding: 35px 25px 35px 115px;
				box-sizing: border-box;
				margin: 0 0 30px;
				min-height: 270px;
				img{
					width: 68px;
					position: absolute;
					top: 25px;
					left: 25px;
				}
				h3{
					font-size: 16px;
					font-weight: 700;
					letter-spacing: .03em;
					line-height: 30.5px;
					color: #333333;
					text-align: left;
				}
				p{
					font-weight: 500;
					font-size: 13px;
					letter-spacing: .03em;
					line-height: 21px;
					color: #333333;
					text-align: left;
				}
			}
		}
	}
}