
/* main_img_detail
===============================================================*/
.main_img_detail .bg_sport01 {
	background:url(../images/sports/sp/main01.jpg) no-repeat left bottom;
	background-size:cover;
	height: 250px !important;
}

.breakfast_info{
    background-color: #faf6e9;
	padding: 20px 13px;
	color: #a20000;
}
.breakfast_info .flex-box { margin-top: 20px;}
.breakfast_info figure {
	margin: 15px 0;
}
.breakfast_info figure img {
	width: 100%;
}


/* gallery
===============================================================*/
.gallery {
	margin:0 0 75px 0;
}

.gallery ul li {
	width:33.3%;
	float:left;
}


.gallery ul li a {
	display:block;
	position:relative;
}


.gallery ul li img {
	width:100%;
}

.gallery ul li img.ic {
	width:15px;
	position:absolute;
	bottom:0;
	right:0;
}

.sports-content {
	box-sizing: border-box;
	.bef_01{
		font-size: 23px;
		line-height: 45px;
		letter-spacing: .08em;
		color: #333333;
	}
	.sect-1{
		padding: 22px 0 35px 0;
		.wrapper{
			h2{
				text-align: center;
				margin-bottom: 10px;
				font-size: 23px;
				line-height: 27px;
			}
			p{
				text-align: left;
				padding-left: 12.5px;
			}
			.g_box01{
				margin-top: 40px;
				.content{
					background-color: #fff;
					padding: 32px 0 50px;
					.row{
						display: flex;
						flex-wrap: wrap;
						padding: 5px 0 0;
						box-sizing: border-box;
						.col{
							width: 100%;
							box-sizing: border-box;
							&:first-child{
							}
							&:last-child{
								padding: 35px 30px 0 15px;
								p{
									padding-left: 0;
									font-weight: 700;
									font-size: 16px;
									color: #786e51;
									margin-bottom: 10px;
								}
							}	
							img{
								width: 100%;
							}
							table{
								width: 100%;
								tr{
									border-bottom: 1px solid #786e51;
									th{
										&:first-child{
											width: 60%;
										}
										&:last-child{
											width: 40%;
										}
										text-align: center;
										font-weight: 500;
										color: #786e51;
										padding: 6px 0 5px;
									}
									td{
										text-align: center;
										padding: 6px 0 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.sect-2{
		padding: 0 0 55px 12.5px;
		.wrapper{
			.row{
				display: flex;
				flex-wrap: wrap;
				margin: 30px -18px 0;
				box-sizing: border-box;
				.col{
					width: 100%;
					padding: 0 18px 10px;
					box-sizing: border-box;
					h3{
						position: relative;
						background-color: #eceae5;
						font-size: 17px;
						color: #796e4e;
						line-height: 27px;
						text-align: center;
						padding: 10px 35px 8px 0;
						&.active{
							span{
								&::after{
									transform: translate(-50%, -50%) rotate(90deg);
									opacity: 0;
								}
								&::before{
									transform: translate(-50%, -50%) rotate(180deg);
								}
							}
						}
						span{
							display: block;
							width: 21.5px;
							height: 21.5px;
							border-radius: 50px;
							background-color: #fff;
							position: absolute;
							top: 50%;
							right: 15px;
							transform: translate(0, -50%);
							&::after{
								content: "";
								display: block;
								width: 11px;
								height: 2px;
								background-color: #786e51;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								transition: .3s ease-in-out;
							}
							&::before{
								content: "";
								display: block;
								width: 11px;
								height: 2px;
								background-color: #786e51;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(90deg);
								transition: .3s ease-in-out;
							}
						}
					}
					.card-content{
						display: none;
						border: 5px solid #eceae5;
						border-top: none;
						img{
							width: 100%;
						}
						h4{
							display: none;
						}
						p{
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}
	.sect-3{
		.wrapper{
			padding: 20px 7.5px 82px 12.5px;
			.content{
				background-color: #fff;
				padding: 25px 0 40px;
				border: 1px solid #d4cfbc;
				h2{
					text-align: center;
					font-size: 23px;
				}
				p{
					text-align: center;
					margin-bottom: 15px;
				}
				.cta-wrap{
					div{
						text-align: center;
						p{
							text-align: center;
							line-height: 1;
							margin-bottom: 0;
							margin-top: 0;
							font-size: 20px;
							.btnTel{
								font-size: 25px;
								letter-spacing: .075em;
							}
						}
						span{
							display: block;
							font-size: 10px;
							text-align: center;
							margin-top: 2px;
						}
					}
					.btnContact{
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 227px;
						height: 41px;
						background-color: #a99c77;
						color: #fff;
						font-size: 14px;
						letter-spacing: .15em;
						margin: 11px auto 0;
						&::after{
							content: "";
							display: block;
							width: 15px;
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: 50%;
							right: 6px;
							transform: translate(0, -50%);
						}
						&::before{
							content: "";
							display: block;
							width: 5px;
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: 50%;
							right: 6px;
							transform: translate(0, -2px) rotate(35deg);
						}
					}
				}
			}
		}
	}
}
