
/* s_meu_box
===============================================================*/
.s_menu_box {
	margin:0 0 80px 0;
}

.s_menu_box .box_s {
	width:100%;
	margin:0 0 25px 0;
	position:relative;
}

.s_menu_box .box_s .ph img {
	width:100%;
}

.s_menu_box .box_s .t {
	padding:8px 20px 8px 13px;
	line-height:1.4;
}

.s_menu_box .box_s .t span {
	font-size:12px;
}

.s_menu_box .box_s .share {
	color:#786e51;
	position:absolute;
	bottom:5px;right:13px;
}


.s_menu_box .box_s .in .sns{
	width:100%;
	position:absolute;
	bottom:5px;
	left:0;
	text-align:center;
	background-color:#fff;
	display:none;
}

.s_menu_box .box_s .in .sns p {
	display:inline-block;
	margin:0 8px;
}

.s_menu_box .box_s .in .sns p img {
	width:auto;
	height:25px;
}

.s_menu_box .box_s .in .sns p.close {
	width:30px;
	height:30px;
	position:absolute;
	top:2px;
	right:10px;
	z-index:100;
}

.s_menu_box .box_s .in .sns span {
  display: inline-block;
  transition: all .4s;
  box-sizing:border-box;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  width:30px;
  background-color: #080808;	
}


.s_menu_box .box_s .in .sns span.s1 {
  top:5px;
  -webkit-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.s_menu_box .box_s .in .sns span.s2 {
  top:16px;
-webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}