div#FooterBox {
    margin: 0;
}
div#FooterBox .access ,
div#FooterBox .creditcard ,
div#FooterBox .hotelresort {
	display:none;
}
div#FooterBox .address {
    border-top: none;
/*    padding: 30px 0 30px 0;*/
    padding: 0 0 30px 0;
}


div#Main {
    padding: 0;
}

div#Main img {
	width:100%;
	height:auto;
	vertical-align:top;
}





/* mainbox
===============================================================*/
.mainbox .main {
	text-align:center;
}


/* Button */
.mainbox .btn {
    text-align: center;
    font-weight: bold;
}
.mainbox .btn.orange ,
.mainbox .btn.yellow {
	font-size:20px;
}

.mainbox .btn.orange {
    margin-bottom: 30px;
}

.mainbox .btn a {
	display:block;
	color:#FFFFFF;
	text-decoration:none;
    width: 60%;
    min-width: 206px;
    padding: 13px 0;
	border-radius:5px;
    margin: 0 auto 8px;
}
.mainbox .btn a:hover {
	text-decoration:none;
}

.mainbox .btn.pink a {
	background:url(../images/ar01.png) no-repeat 94% center #E95471;
	background-size:7px 11px;
	box-shadow:-2px -2px 0px 0px #c52a48 inset;
}
.mainbox .btn.blue a {
	background:url(../images/ar01.png) no-repeat 94% center #3894e6;
	background-size:7px 11px;
	box-shadow:-2px -2px 0px 0px #1e71ba inset;
}
.mainbox .btn.orange a {
    width: 78%;
    min-width: 266px;
	background:url(../images/ar02.png) no-repeat 94% center #f09b23;
	background-size:9px 15px;
	box-shadow:-2px -2px 0px 0px #c68221 inset;
	padding: 15px 0;
	margin:0 auto 20px;
}
.mainbox .btn.yellow a {
    width: 70%;
    min-width: 266px;
	background:url(../images/ar02.png) no-repeat 94% center #edc00d;
	background-size:9px 15px;
	box-shadow:-2px -2px 0px 0px #d4ab06 inset;
	padding: 15px 0;
	margin:0 auto;
}



/* WhiteBox */
.mainbox .whitebox {
    margin: 0 13px 10px;
    border-radius: 5px;
    background: #FFFFFF;
}

.mainbox .whitebox dl dt {
    font-weight: bold;
    text-align: center;
    margin: 14px 0 7px;
}
.mainbox .whitebox dl dd {
    padding: 0 26px 20px;
}

.mainbox .whitebox .ph img {
    border-radius: 5px 5px 0 0;
}

.mainbox .whitebox ul {
    margin-top: 20px;
}





/* pal2
===============================================================*/
.pal2 .tl_pal2 p {
	display:none;
}


.pal2 .pal2_inner {
	padding:15px 0 40px;
	background:url(../../images/bg_orange.jpg) repeat 0 0;
    background-size: 45px 45px;
}






/* con
===============================================================*/
.con .tl_con p {
	display:none;
}

.con .con_inner {
    margin:0 13px 28px;
	background:url(../../images/bg_y2.png) repeat 0 0;
    padding:20px 12px 27px 17px;
    border-radius: 5px;
}

.con .con_inner h3 {
    margin: 0 -12px 14px -17px;
}

.con .con_inner p.kome {
	color:#615635;
    margin-left: 1em;
    text-indent: -1em;
    font-size: 14px;
}

.con .whitebox span.red {
	color:#d21717;
}

.con .whitebox p {
	font-weight:bold;
    line-height: 1.3;
}
.con .whitebox p span.red {
	font-size:22px;
}
.con .whitebox p span.red span.small {
	font-size:16px;
	display:block;
}

.con .whitebox dl dt {
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    line-height: 1.3;
    color: #d21717;
    border-bottom: #e8e8e8 1px solid;
    margin: 0 0 10px;
}
.con .whitebox dl dd {
	font-weight:bold;
    line-height: 1.3;
	padding: 0;
}
.con .whitebox dl dd span.red {
	display:block;
    margin-bottom: 10px;
}
.con .whitebox dl dd span.s {
	display:block;
	font-size:14px;
	font-weight:normal;
}
.con .whitebox dl dd span.red:last-child {
    margin-bottom: 0;
}

.con .con_inner .con_inner2 {
	padding-bottom:6px;
}
.con .con_inner .whitebox {
    position: relative;
    padding: 19px 25px 19px 25px;
    margin-right: 0;
}
.con .con_inner .whitebox p.flag {
    position: absolute;
    right:0;
    top:0;
    width: 46px;
}

.con .con_inner .whitebox p.num {
    font-size: 14px;
    width: 31px;
    padding: 7px 0 6px;
	background: #75a908;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: -16px;
    top: 16px;
    border-radius: 21px;
}

.ad_pal2 {
    margin: 0 13px;
    padding-top: 13px;
	background:url(../images/left.png) no-repeat left 13px;
    background-size: 14px 256px;
}
.ad_pal2_2 {
    padding-top: 8px;
	background:url(../images/right.png) no-repeat right top;
    background-size: 14px 256px;
    margin-bottom: 45px;
}

.ad_pal2 dl dt {
    color: #f77c38;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.ad_pal2 dl dd {
    text-align: center;
    margin-bottom: 15px;
}

.ad_pal2 ul {
    padding-bottom: 10px;
}





/* yutai
===============================================================*/
.yutai {
	background:url(../../images/bg_pink.jpg) repeat 0 0;
    background-size: 45px 45px;
}
.yutai .tl_yutai p {
	display:none;
}


.yutai .yutai_inner {
	padding-bottom:30px;
}

.yutai .yutai_inner .whitebox .whbox_inner {
	padding-bottom: 22px;
}

.yutai .yutai_inner .whitebox dl.price dt {
	color:#d63654;
    padding-top: 20px;
	background:url(../images/wave.gif) repeat-x left top;
	background-size:29px 4px;
    margin: 0 20px 4px;
    text-align: left;
}

.yutai .yutai_inner .whitebox dl.price dt span.s {
    display: block;
	font-size:14px;
}

.yutai .yutai_inner .whitebox dl.price .item2 {
	color:#d63654;
    padding-top: 20px;
	background:url(../images/wave.gif) repeat-x left top;
	background-size:29px 4px;
    margin: 20px 20px 4px;
    text-align: left;
}
.yutai .yutai_inner .whitebox dl.price dd {
	padding: 0 20px;
}
.yutai .yutai_inner .whitebox dl.price dd span.pink {
    color: #d63654;
}





/* other
===============================================================*/
.other {
	background:url(../../images/bg_blue.jpg) repeat 0 0;
    background-size: 45px 45px;
}

.other .tl_other p {
	display:none;
}


.other .other_inner {
	padding-bottom:30px;
}

.other .other_inner .whitebox .whbox_inner {
	padding-bottom: 22px;
}

.other .other_inner .whitebox .whbox_inner dl dd {
	padding-bottom: 0;
}





/* map
===============================================================*/
.map h2 {
    position: relative;
    z-index: 2;
}

.map .mapbox {
	background:url(../images/line_yellow.jpg) repeat-x left bottom;
    margin:-2% 13px 0;
}

.map .mapbox p {
	text-align:center;
}

.map .mapbox ul {
    padding: 24px 8px 25px;
}
.map .mapbox ul li {
	font-size:19px;
    padding-left:36px;
	font-weight:bold;
	margin-bottom:25px;
}
.map .mapbox ul li span.small {
	font-weight:normal;
	font-size:16px;
	display:block;
}

.map .mapbox ul li.car {
	background:url(../images/ic_car.png) no-repeat left top;
	background-size:28px 28px;
}
.map .mapbox ul li.bus {
	background:url(../images/ic_bus.png) no-repeat left top;
	background-size:28px 28px;
    line-height: 1.3;
}




/* reco
===============================================================*/
.reco {
	display:none;
	background:url(../../images/bg_yellow.jpg) repeat 0 0;
    background-size: 45px 45px;
    padding: 0 0 50px;
}


.reco .reco_inner {
	padding:23px 0 22px;
}
.reco .reco_inner dl {
    border-radius: 5px;
	background:#FFFFFF;
    margin: 0 13px 13px;
}

.reco .reco_inner dl a {
	display:block;
	box-sizing:border-box;
    padding: 15px;
    border-radius: 5px;
    display: table;
	background:#FFFFFF;
    transition: all 300ms 0s ease;
	text-decoration:none;
}
.reco .reco_inner dl a:hover {
	text-decoration:none;
}

.reco .reco_inner dl dt {
	width:123px;
	display:table-cell;
	vertical-align:top;
}
.reco .reco_inner dl dd {
	display:table-cell;
	vertical-align:middle;
    font-weight: bold;
    padding: 0 0 0 16px;
    font-size: 19px;
}

